body {
	background: #f9e933;
}
header, main, footer {
	min-width: 855px;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}
header {
			background: white;
			overflow: auto;
		}
header h1 {
			float: left;
			width: 570px;
			}
header nav {
			float: right;
			width: 285px;
			}
head, body {
				font-family: 'Droid Sans', sans-serif;
	}
h1, h2, h3, h4 {
				font-family: 'Ubuntu', sans-serif;
				}
main {
	background: white;
	overflow: auto;
}

.left {
			float: left;
			width: 570px;
			/*overflow: auto;*/
			}
.right {
			float: right;
			width: 285px;
			/*overflow: auto;*/
			}

footer {
		clear: both;
		}
.contact {
			float: left;
			width: 570px;
			}
.sitemap {
			float: right;
			width: 285px;
			}


