body {
		background: #f9e933;
		#margin-top: 10px;
		#border-top-width: 11px;
		#padding-top: 10px;
		padding-bottom: 10px;
		border-bottom-width: 20px;
		margin-bottom: 10px;	
}
header, main, footer {
	min-width: 855px;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}
header {
			background: white;
			overflow: auto;
		}
header h1 {
			float: left;
			width: 570px;
			}
header nav {
			float: right;
			width: 285px;
			}
head, body {
				font-family: 'Droid Sans', sans-serif;
				font-size: 100%;
	}
h1, h2, h3, h4 {
				font-family: 'Ubuntu', sans-serif;
				}
h1 {
		font-size: xx-large;
}
h2 {
		font-size: x-large;
}
h3 {
		font-size: large;
}

main {
		background: white;
		overflow: auto;
}

.left {
			float: left;
			width: 570px;
			/*overflow: auto;*/
			}
.right {
			float: right;
			width: 285px;
			/*overflow: auto;*/
			}
footer {
			clear: both;
		}

.contact {
			float: left;
			width: 570px;
			}
.sitemap {
			float: right;
			width: 285px;
			}

a {
	color: red;
	text-decoration: none; /* убираем подчеркивание по умолчанию */
}
a:hover {
			text-decoration: underline;
		}


